.AuthFormMainDiv{
    width:100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.AuthFormMainDiv form{
    padding:1.5rem;
    background-color: var(--bg);
    border-radius: var(--b-radius);
}

.AuthFormTitle{
    font-size:var(--font-lg);
}

.AuthFormInputLabelDiv{
    margin-top:0.3rem;
}

.AuthFormInputLabelDiv label{
    font-size:var(--font-sm);
}

.AuthFormInputLabelDiv input{
    width:20rem;
    padding:0.4rem 0.2rem;
    outline: none;
    border:0.01rem var(--primary-color) solid;
    border-radius: var(--b-radius);
    background-color: transparent;
}

.AuthFormInputLabelDiv{
    width:100%;
}

.AuthFormBtnDiv{
    width:100%;
    margin-top:1rem;
}

.AuthFormBtnDiv button{
    width:100%;
    padding:0.4rem 0rem ;
    cursor:pointer;
    border:none;
    border-radius: var(--b-radius);
    background-color: var(--secondary-color);
    font-size:var(--font-btn);
}

.AuthFormSwitchFormDiv{
    margin-top:0.4rem;
}

.AuthFormSwitchFormDiv p {
    font-size:var(--font-sm);
}

.AuthFormSwitchFormDiv p a{
    color:var(--primary-color);
}